<template id="app">
    <img
        src="../assets/images/san.png"
        style="width: 60%; height: 80%; position: absolute; margin-left: 20%; margin-top: 9em; bottom: 0px;"
    />
    <img
        src="../assets/images/pins.png"
        style="width: 34%; height: 50%; position: absolute; margin-left: 33%; margin-top: -2em"
    />
    <div id="main">
        <div id="left">
            <div id="scorecard" class="bowlingTable">
                <table>
                    <thead>
                        <tr>
                            <th>Player</th>
                            <th colspan="2" v-for="(n, index) in MAXFRAME - 1" :key="index">{{ n }}</th>
                            <th colspan="3">{{ MAXFRAME }}</th>
                            <th>Total</th>
                        </tr>
                    </thead>

                    <tr>
                        <td id="player1" rowspan="2">01</td>
                        <td v-for="(n, index) in MAXFRAME * 2 + 1" :key="index">{{ getPointBox(1, index) }}</td>
                        <td id="total1" rowspan="2">
                            {{ frameNumber > MAXFRAME ? firstPlayerRolls[MAXFRAME - 1].runningScore : '' }}
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2" v-for="(n, index) in MAXFRAME - 1" :key="index">
                            {{ frameScoreBox(1, n - 1) }}
                        </td>
                        <td colspan="3">{{ frameScoreBox(1, MAXFRAME - 1) }}</td>
                    </tr>

                    <tr>
                        <td id="player2" rowspan="2">02</td>
                        <td v-for="(n, index) in MAXFRAME * 2 + 1" :key="index">{{ getPointBox(2, index) }}</td>
                        <td id="total2" rowspan="2">
                            {{ frameNumber > MAXFRAME ? secondPlayerRolls[MAXFRAME - 1].runningScore : '' }}
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2" v-for="(n, index) in MAXFRAME - 1" :key="index">
                            {{ frameScoreBox(2, n - 1) }}
                        </td>
                        <td colspan="3">{{ frameScoreBox(2, MAXFRAME - 1) }}</td>
                    </tr>
                </table>
            </div>
            <div id="actions" style="font-weight:bold;">
                Add a value for the next roll: <input id="rollValue" />
                <div class="button" id="addRoll" @click="throwBall(0)">
                    <a href="#addRoll">Add roll</a>
                </div>
                <br />
                <br />
                <div class="button" id="randomRoll" @click="throwBall(1)">
                    <a href="#randomRoll">Make random roll</a>
                </div>

                <div class="button" @click="resetGame">
                    <a href="">New game</a>
                </div>
                <br />
                <br />
                <span>{{ mgs == 'null' ? ' ' : mgs }}</span>
            </div>
        </div>
    </div>
</template>
<script>
    import {ref} from '@vue/reactivity'
    export default {
        data() {
            return
        },
        setup() {
            const firstPlayerRolls = ref([])
            const secondPlayerRolls = ref([])
            const frame = ref({
                firstRoll: -1,
                secondRoll: -1,
                frameScore: 0,
                runningScore: 0,
            })
            const frameNumber = ref(0)
            const isFirstPlayerSpare = ref(false)
            const isFirstPlayerStrike = ref(false)
            const isSecondPlayerSpare = ref(false)
            const isSecondPlayerStrike = ref(false)
            const playerNumber = ref(1)
            const mgs = ref(null)
            const MAXPOINT = 10
            const MAXFRAME = 10

            const getPointBox = (player, index) => {
                if (index % 2 === 0) return firstPointBox(player, Math.floor(index / 2))
                return secondPointBox(player, Math.floor(index / 2))
            }

            /*
             * firstPointBox : display point to box in 1st throw
             * @param : playerNumber, index
             */
            const firstPointBox = (playerNumber, index) => {
                const rolls = playerNumber === 1 ? firstPlayerRolls.value : secondPlayerRolls.value
                let point = 0

                if (index === MAXFRAME) {
                    point = rolls.length > index ? (rolls[index].firstRoll === -2 ? '-' : rolls[index].firstRoll) : '' // in last frame: can not throw ball in third roll: display '-'
                } else {
                    point = rolls.length > index ? rolls[index].firstRoll : ''
                }

                return point
            }

            /*
             * secondPointBox : display point to box in 2nd throw
             * @param : playerNumber, index
             */
            const secondPointBox = (playerNumber, index) => {
                const rolls = playerNumber === 1 ? firstPlayerRolls.value : secondPlayerRolls.value
                const point =
                    rolls.length > index ? (rolls[index].secondRoll !== -1 ? rolls[index].secondRoll : '') : ''
                return point
            }

            /*
             * frameScoreBox : display point to box in frame score
             * @param : playerNumber, index
             */
            const frameScoreBox = (playerNumber, index) => {
                const rolls = playerNumber === 1 ? firstPlayerRolls : secondPlayerRolls
                const point = rolls.value.length > index ? rolls.value[index].runningScore : ''
                return point
            }

            /*
             * addFirstRoll : for 1st throw ball
             * @param : player ([1,2]), point
             */
            const addFirstRoll = (player, point) => {
                let rolls
                let isStrike
                let isSpare
                if (player === 1) {
                    rolls = firstPlayerRolls.value
                    isStrike = isFirstPlayerStrike.value
                    isSpare = isFirstPlayerSpare.value
                } else {
                    rolls = secondPlayerRolls.value
                    isStrike = isSecondPlayerStrike.value
                    isSpare = isSecondPlayerSpare.value
                }

                // previous roll is SPARE: bonus 1 roll-point to previous framescore
                if (isSpare) {
                    rolls[frameNumber.value - 1].frameScore += point
                    rolls[frameNumber.value - 1].runningScore += point
                    isSpare = false
                }

                // previous roll is STRIKE: bonus 2 roll-point to previous framescore (here is 1st bonus -> isStrike still TRUE)
                if (isStrike) {
                    rolls[frameNumber.value - 1].frameScore += point
                    rolls[frameNumber.value - 1].runningScore += point
                }

                // 2 times in previous roll is STRIKE: bonus 2 roll-point to each (2) previous framescore (here is 1st bonus -> isStrike still TRUE)
                if (
                    frameNumber.value > 1 &&
                    rolls[frameNumber.value - 2].firstRoll == MAXPOINT &&
                    rolls[frameNumber.value - 1].firstRoll == MAXPOINT
                ) {
                    rolls[frameNumber.value - 2].runningScore += point
                    rolls[frameNumber.value - 1].frameScore += point
                    rolls[frameNumber.value - 1].runningScore += point
                }

                frame.value.firstRoll = point
                frame.value.frameScore += point

                // first throw is MAXPOINT -> STRIKE
                if (point === MAXPOINT) {
                    isStrike = true
                    frame.value.secondRoll = 'X'
                }

                rolls.push(frame.value)
                rolls[frameNumber.value].runningScore = getFinalScore(player)

                // first throw is MAXPOINT -> STRIKE
                if (point === MAXPOINT) {
                    //switch between players
                    if (player === 1) {
                        playerNumber.value = 2
                    } else {
                        playerNumber.value = 1
                        frameNumber.value++
                    }
                    resetFrame()
                }

                // in last frame
                if (frameNumber.value === MAXFRAME) {
                    //switch between players
                    if (player === 1) playerNumber.value = 2
                    else frameNumber.value++
                    resetFrame()
                }

                return {isStrike, isSpare}
            }

            const addSecondRoll = (player, point) => {
                let rolls
                let isStrike
                let isSpare
                if (player === 1) {
                    rolls = firstPlayerRolls.value
                    isStrike = isFirstPlayerStrike.value
                    isSpare = isFirstPlayerSpare.value
                } else {
                    rolls = secondPlayerRolls.value
                    isStrike = isSecondPlayerStrike.value
                    isSpare = isSecondPlayerSpare.value
                }

                rolls[frameNumber.value].secondRoll = point
                rolls[frameNumber.value].frameScore += point

                // SPARE: first throw + second throw = max point
                if (frame.value.firstRoll + frame.value.secondRoll === MAXPOINT) {
                    frame.value.secondRoll = '/'
                    isSpare = true //set for bonus point in next roll
                }

                // previous roll is STRIKE: bonus 2 roll-point to each (2) previous framescore (here is 2nd bonus)
                if (isStrike) {
                    rolls[frameNumber.value - 1].frameScore += point
                    rolls[frameNumber.value - 1].runningScore += point
                    isStrike = false // reset STRIKE status
                }

                rolls[frameNumber.value].runningScore = getFinalScore(player)

                //switch between players
                if (player === 1) {
                    playerNumber.value = 2
                } else {
                    playerNumber.value = 1
                    frameNumber.value++
                }
                resetFrame()
                return {isStrike, isSpare}
            }

            /*
             * THROW BALL click to add roll: #throwBall
             * @param : random (random = [1, 0])
             * ----------------random = 1: random input - @btn: MAKE RANDOM ROLL
             * ----------------random = 0: hand-input   - @btn: ADD ROLL
             * 1. Handle input point
             *      - Random input
             *      - Hand-input
             * 2. Calculate bowling score board
             *      - Player 1
             *          + 1st Roll
             *          + 2nd Roll
             *      - Player 2
             *          + 1st Roll
             *          + 2nd Roll
             */
            const throwBall = random => {
                mgs.value = ''
                let point = 0
                /** 1. Handle input point */
                //1A. _______________________RANDOM INPUT ROLL
                if (random === 1) {
                    // For Frame MAXFRAME: if SPARE or STRIKE you have 1 bonus roll
                    if (frameNumber.value === MAXFRAME) {
                        if (playerNumber.value === 1) {
                            if (isFirstPlayerSpare.value || isFirstPlayerStrike.value) {
                                point = makeRandomNumber(0)
                            } else {
                                point = -2
                            }
                        }
                        if (playerNumber.value !== 1) {
                            if (isSecondPlayerSpare.value || isSecondPlayerStrike.value) {
                                point = makeRandomNumber(0)
                            } else {
                                point = -2
                            }
                        }
                        // For Frame 1 - 9
                    } else {
                        // First roll random - range 0 to MAXPOINT
                        if (frame.value.firstRoll === -1) {
                            point = makeRandomNumber(0)
                            //  Second roll random - max point = MAXPOINT - first roll
                        } else {
                            point = makeRandomNumber(frame.value.firstRoll)
                        }
                    }

                    // 1B. _______________________HAND INPUT ROLL
                } else {
                    let v = parseInt(document.getElementById('rollValue').value)
                    // validate: is number?
                    if (isNaN(v)) {
                        mgs.value = 'The roll value must be a number.'
                        throw ''
                    }
                    // for last frame
                    if (frameNumber.value === MAXFRAME) {
                        // player 1
                        if (playerNumber.value === 1) {
                            if (isFirstPlayerSpare.value || isFirstPlayerStrike.value) {
                                if (v >= 0 && v <= MAXPOINT) {
                                    point = v
                                } else {
                                    mgs.value = 'The value must be between 0 and ' + MAXPOINT
                                    throw ''
                                }
                            } else {
                                point = -2
                            }
                        }
                        // player 2
                        if (playerNumber.value !== 1) {
                            if (isSecondPlayerSpare.value || isSecondPlayerStrike.value) {
                                if (v >= 0 && v <= MAXPOINT) {
                                    point = v
                                } else {
                                    mgs.value = 'The value must be between 0 and ' + MAXPOINT
                                    throw ''
                                }
                            } else {
                                point = -2
                            }
                        }
                        //for other frame (frame 1 - 9)
                    } else {
                        // First roll
                        if (frame.value.firstRoll === -1) {
                            if (v >= 0 && v <= MAXPOINT) {
                                point = v
                            } else {
                                mgs.value = 'The value must be between 0 and ' + MAXPOINT
                                throw ''
                            }
                            //Second roll
                        } else {
                            if (v <= MAXPOINT - frame.value.firstRoll && v >= 0) {
                                point = v
                            } else {
                                mgs.value =
                                    'The value must be between 0 and ' +
                                    (MAXPOINT - frame.value.firstRoll) +
                                    ' for the next roll.'
                                throw ''
                            }
                        }
                    }
                }
                //validate: not over MAX frame
                if (frameNumber.value > MAXFRAME) {
                    resetFrame()
                    mgs.value = 'This game is over!'
                }

                /* 2. Calculate bowling score board  */
                // ---------------------Player 1-----------------------------
                if (playerNumber.value === 1) {
                    // ................1st roll.....................
                    if (frame.value.firstRoll === -1) {
                        const result = addFirstRoll(playerNumber.value, point)
                        isFirstPlayerStrike.value = result.isStrike
                        isFirstPlayerSpare.value = result.isSpare

                        // ................2nd roll.....................
                    } else {
                        const result = addSecondRoll(playerNumber.value, point)
                        isFirstPlayerSpare.value = result.isSpare
                        isFirstPlayerStrike.value = result.isStrike
                    }

                    // ---------------------Player 2-----------------------------
                } else {
                    // ................1st roll.....................
                    if (frame.value.firstRoll === -1) {
                        const result = addFirstRoll(playerNumber.value, point)
                        isSecondPlayerStrike.value = result.isStrike
                        isSecondPlayerSpare.value = result.isSpare
                        // ................2nd roll.....................
                    } else {
                        const result = addSecondRoll(playerNumber.value, point)
                        isSecondPlayerStrike.value = result.isStrike
                        isSecondPlayerSpare.value = result.isSpare
                    }
                }
            }

            /*
             * makeRandomNumber : function for random input
             * @param : firstPoint
             * ---------validate: range of random number from 0 to (max point - first point)
             */
            const makeRandomNumber = firstPoint => {
                return Math.floor(Math.random() * (MAXPOINT - firstPoint - 0 + 1)) + 0
            }

            /*
             * getFinalScore : get running score after each frame (cumulative score of frame)
             * @param : playerNumber [1, 2]
             */
            const getFinalScore = playerNumber => {
                let totalScore = 0
                const rolls = playerNumber === 1 ? firstPlayerRolls : secondPlayerRolls
                for (let i = 0; i < rolls.value.length; i++) {
                    totalScore += rolls.value[i].frameScore
                }
                return totalScore
            }

            /*
             * resetFrame : reset frame
             * @param :
             */
            const resetFrame = () => {
                frame.value = {
                    firstRoll: -1,
                    secondRoll: -1,
                    frameScore: 0,
                    runningScore: 0,
                }
            }

            /*
             * resetGame : reset game
             * @param  :
             * @button : New Game
             */
            const resetGame = () => {
                playerNumber.value = 1
                firstPlayerRolls.value = []
                secondPlayerRolls.value = []
                frameNumber.value = 0
                isFirstPlayerSpare.value = false
                isFirstPlayerStrike.value = false
                isSecondPlayerSpare.value = false
                isSecondPlayerStrike.value = false
            }

            return {
                getFinalScore,
                firstPlayerRolls,
                secondPlayerRolls,
                resetGame,
                frameNumber,
                mgs,
                firstPointBox,
                secondPointBox,
                frameScoreBox,
                throwBall,
                MAXPOINT,
                MAXFRAME,
                getPointBox,
            }
        },
    }
</script>
