html,
body {
    margin: 0px;
    background-image: url('../assets/images/imageedit_1_4825886685.png');
    font-family: 'Marcellus';
}

/***************************************************
   styling related to the output scorecard
  ***************************************************/
#scorecard {
    padding: 4px;
}

/**************************************************
   style the output container for game messages or errors
  **************************************************/
#message {
    margin-top: 14px;
    margin-bottom: 12px;
    border-top: 1px solid #999999;
    padding-top: 12px;
}
#message span.error {
    color: red;
    font-weight: bold;
}
#message span.normal {
    color: #666666;
    font-weight: normal;
}

/**************************************************
   style the output container for roll
  **************************************************/

#rollValue {
    padding: 10px;
    border: 2px solid rgba(26, 23, 10, 0.952);
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: rgb(255, 242, 198);
    border-radius: 20px;
    font-size: 20px;
    width: 50px;
}

#rollsLabel,
#scoringFramesLabel,
#displayFramesLabel {
    font-size: 110%;
    font-weight: bold;
    color: #999999;
    margin-bottom: 4px;
    text-align: center;
} /*font-color -> color*/

#rollsContent,
#scoringFramesContent,
#displayFramesContent {
    font-size: 90%;
    font-weight: normal;
    font-family: monospace;
    text-align: left;
}

#rollsContent {
    margin-left: 10px;
} /* add a little extra pad for the rolls list */

#rollsCaption,
#scoringFramesCaption,
#displayFramesCaption {
    font-size: 70%;
    font-weight: normal;
    font-style: italic;
    font-family: sans-serif;
    margin-bottom: 12px;
    text-align: center;
}

/**************************************************
   style the containers for our UI button actions and message
  **************************************************/
#actions {
    /*bottom + center*/
    font-size: 20px;
    text-align-last: center;
    position: fixed;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, -20%);
    margin: 0 auto;
}

.button {
    position: relative;
    display: inline-block;
    margin: 0px 10px 10px 10px;
}

.button a {
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    background-color: #ffa12b;
    display: block;
    position: relative;
    padding: 10px;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
    -moz-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
    box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.button a:active {
    top: 10px;
    background-color: #f78900;

    -webkit-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
    -moz-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
    box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
}

.button:after {
    content: '';
    height: 100%;
    width: 100%;
    padding: 4px;
    position: absolute;
    bottom: -15px;
    left: -4px;
    z-index: -1;
    background-color: #2b1800;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
span {
  color: darkred
}

table {
    position: fixed;
    margin-top: 18%;
    width: 95%;
    height: 40%;
    font-size: 14px;
    margin-left: 2.5%;
    /* margin-right: auto; */
}

td {
    width: 4%;
    height: 20%;
    background-color: rgba(255, 242, 198, 0.575);
    border: 3px solid #5f440a77;
    text-align: center;
    padding: 15px 5px;
    font-size: 25px;
    font-weight: bold;
}

#player1,
#player2,
#total1,
#total2 {
    width: 8%;
    font-size: 40px;
}

thead {
    color: #805e00;
    border: none;
    font-size: 25px;
}
