<template>
  <link href='https://fonts.googleapis.com/css?family=Marcellus SC' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Marcellus' rel='stylesheet'>
  <play-screen/>
  <!-- <start-screen/> -->
</template>

  
<script>
import PlayScreen from './components/PlayScreen.vue'
// import StartScreen from './components/StartScreen.vue'

export default {

  name: 'App',
  components: {
    PlayScreen,
    // StartScreen
  }

  
}
</script>

<style scoped>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
